*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container2{
    height: 1000px;
}

h2{
    text-align: center;
    align-items: center;
    justify-content: center;
    height: 50px;
}

.Form{
    width: 30%;
    height: 500px;
    margin: 10px 35%;
    border: 1px solid black;
    justify-content: center;
    align-items: center;
    display: flex;
    border-radius: 10px;
}
label{
    font-weight: 500;
    justify-content: center;
    display: flex;
}

input[type=text], select {
    width: 100%;
    height: 80px;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 20px;
    font-weight: 500;
  }
  
  input[type=submit] {
    width: 100%;
    height: 100px;
    background-color: black;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-size: large;
  }


  .Pic-item-5{
    height: 500px;
    display: flex;
  }

  .anhminhhoa{
    width: 25%;
    height: 90%;
    margin: 10px auto;
    border-radius: 20px ;
    overflow: hidden;
  }

  img{
    width: 100%;
    height: 100%;
    object-fit: cover;
  }


