* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}




.header{
    height: 46px;
    background-color: #B0D4B8; 
    display: flex;

}

.nav-item > li {
    height: 100%;
}


.nav-item li{
    display: inline-block;
    position: relative;
}

.nav-item .nav-item-con{
    /* display: none; */
    position: absolute;
    background-color: #B0D4B8;
    display: none;

} 

.nav-item .nav-item-con a {
    color: black;
}


.nav-item li a {
    font-size: 13px;
    text-decoration: none;
    line-height: 46px;
    padding: 0 24px;
    font-family: Arial, Helvetica, sans-serif ;
    font-weight: 500;
    display: inline-block;
}

.nav-item > li > a {
    color: black;
    font-weight: 700;
}

.nav-item .nav-item-con li:hover a,
.nav-item > li:hover > a{
    color: white;
    transition: 1s;
}

.nav-item:hover .nav-item-con {
    display: block;
}


.LOGO{
    margin-left: 50%;
}

.LOGO li{
    display: inline-block;
}

.LOGO li a {
    font-size: 20px;
    color: white;
    text-decoration: none;
    line-height: 46px;
    padding: 0 24px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 700;
    display: inline-block;
}


.nav-bar{
    width: 28px;
    height: 28px;
    font-size: 30px;
    display: none;
    margin-left: 10px;
}

.nav-overlay{
    animation: fadein linear 0.2s;
    display: none;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.3);
}

.nav-item-mobile{
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    width: 320px;
    max-width: 100%;
    font-weight: 700;
    background-color: #fff;
    transform: translateX(-100%);
    transition: transform linear 0.3s ;
}

.nav-item-link-mobile{
    margin: 20px;
    text-decoration:none ;
    color: #333;
    display: block;
    padding: 8px 0;
    font-size: 20px;
}

.nav-bar-x{
    font-size: 20px;
    color: #666;
    position: absolute;
    top: 1rem;
    right: 1rem;
}

.nav-input:checked ~ .nav-overlay{
    display: block;
}


.nav-input:checked ~ .nav-item-mobile{
    transform: translateX(0%);
}


.icon{
    cursor: pointer;
}

@media (max-width: 1376px){
    .nav-bar{
        display: block;
    }
    .nav-item{
        display: none;
    }
    .LOGO
    {
        display: none;
    }
}

@keyframes fadein{
    from{
        opacity: 0;
    }   
    to {
        opacity: 1;
    }
}


